@import "../../styles/mixins";
@import "../../styles/variables";

.container-about {
  padding: 8px 60px;
  margin: 30px 0;

  > * + * {
    margin-top: 30px;
  }

  @media (max-width: 375px) {
    padding: 0;
    margin: 15px 0 10px;

    > * + * {
      margin-top: 15px;
    }
  }
}