@mixin flex-center($direction, $justify) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin font($size, $weight) {
    font-size: ($size);
    font-style: normal;
    font-weight: $weight;
    line-height: 142%;
}

