@import "../../styles/mixins";
@import "../../styles/variables";

.rate-container {
  display: flex;
  gap: 10px;

  @media (max-width: 375px) {
    gap: 6px;

    img {
      width: 16px;
    }
  }
}