@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.rate-container {
    display: flex;
    gap: 10px;

    @media (max-width:375px) {
        gap: 6px;

        img {
            width: 16px;
        }
    }
}