@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
@import '../../styles/variables.scss';

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0;
    gap: 20px;
    background-color: $quaternary-color;
    border-radius: 25px;
    padding: 30px;
}

