@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.collapse {
    margin: 30px 0;

   &_title {
    color: $secondary-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    padding: 7px 15px;
    border-radius: 5px;

    h2{
      @include font(24px, 600);  
    };

    i {
        font-size: 30px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &.rotate {
          transform: rotate(-180deg);
    }
   }
}

   &_content {
    background-color: $quaternary-color;
    border-radius: 5px;
    padding: 0 10px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.3s ease, padding 0.3s ease;
  
    &.open {
      padding: 10px;
      max-height: 500px;
      opacity: 1;
    }
   }
}

