@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';



.header {
    display: flex;
	justify-content: space-between;
	align-items: center;
    margin: 20px 40px;
    padding: 16px 8px;

    @media (max-width: 375px) {
        margin: 5px 10px;
        padding: 12px 8px;

       &_fig img {
         width: 145px;
        } 
    }

    
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;    

    &_link-about, &_link-home {
        @include font(24px, 500);
        text-decoration: none;
        color: $tertiary-color;
        text-align: end;

        &:hover {
            text-decoration: underline;
        }

        &.active {
            text-decoration: underline;
        } 
        
        @media (max-width: 375px) {
            @include font(12px, 500);
            text-transform: uppercase;
        }
    }
}